@font-face {
	font-family: HelveticaNeue-Medium;
	src:local('HelveticaNeue Medium');
	src:url(HelveticaNeueCyr-Medium.ttf)
}
@font-face {
	font-family: HelveticaNeue-Bold;
	src:local('HelveticaNeue Bold');
	src:url(HelveticaNeueCyr-Bold.ttf)
}
@font-face {
	font-family: HelveticaNeue;
	src:local('HelveticaNeue');
	src:url(HelveticaNeueCyr-Roman.ttf); 
}
.b-page {
	background: #FFF;
    font-size: 16px;
	font-family: Arial;
	width: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
	
}
a{
	outline: 0;
}
input{
	-webkit-appearance: none;
}
input::-ms-clear {
    display: none;
}
.head {	
    z-index: 32000;
    height: 104px;
	box-shadow: 0 -1px 0 0 #E9ECEF;
	position: absolute;
	width: 100%;
	top: 0;
}
.logo {
    position: absolute;
    top: 15.8px;
    left: 20.5px;
    z-index: 2;
	width: 149px;
}
.logo__link
{
	background-image: url(assets/logo.svg);
	background-position: 0 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: 149px 20.9px;
	padding: 0.5px 0;
}
#content{	
	width: 100%;
	min-width: 360px;
	overflow:scroll;
	padding-bottom: 105px;
}
.content2{
	position: absolute;
	width: 100%;
	top: 49px;	
	background: #FFFFFF;
	box-shadow: 0 -1px 0 0 #E9ECEF;
}
.schedule-header {
	background: #FFFFFF;
	height: 32px;
	width: 1240px;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	box-shadow: 0 -1px 0 0 #E9ECEF;
	z-index: 32000;
	top:105px;
}
.schedule-container {
	width:1240px;
}
.schedule-space{
	height: 1px;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top: 138px;
	box-shadow: 0 -1px 0 0 #E9ECEF;
	z-index: 1;
}
.schedule-header__calendar {
    position: absolute;
    left: 0;
	top:48px;
	width: 328px;
	box-shadow: 0 -1px 0 0 #E9ECEF;
	padding: 12px 16px 18px 16px;
}
.button__previousdate,.button__nextdate{
	border-radius: 100px;
	float: left;
	overflow: hidden;
	text-indent: 100%;
	-webkit-background-size: contain;
	padding: 2px 0;
	width: 32px;	
	height: 28px;
	margin-bottom: -6px;
}
.button__previousdate{
	background: #cbccd0 url(assets/arrow.svg) no-repeat 10px 9px;  
	opacity: 0.4;
}
.button__nextdate{
	background: #cbccd0 url(assets/arrow.svg) no-repeat 10px 9px;  
	opacity: 0.4;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.button__currentdate{	
    position: relative;
	top: 4px;
    text-decoration: none;
	text-align: center;
	width: 264px;
	float: left;
}
#font__date{
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.schedule-header__timeline {
	padding-left: 181px;
	width: 100%;
    text-align: center;
	box-shadow: 0 -1px 0 0 #E9ECEF;
}
.schedule-container ul{
    list-style: none;
	margin: 0;
	padding: 0;
}
.timeline-topinfo{
	width: 49px;
	float: left;
	font-family: HelveticaNeue-Bold;
	font-size: 11px;
	color: #252525;
	letter-spacing: 0.4px;
	margin: 10px 8.5px;
}
#timeline-hand{
	float: none;
	position:absolute;
	background: #007DFF;
	border-radius: 100px;
	color: #FFFFFF;
	padding: 4px 0 3px 0;
	top: -4px;
}
.schedule {
    text-align: center;
	position: relative;
	top: 105px;
	background: #F6F7F9;
}
.schedule-row {
	padding: 0;
}
.schedule-row__room{
	width: 155px;
	text-align: left;
	padding: 12px 10px 12px 16px;
	background: #FFFFFF;
}
.schedule-row__room2{
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
	border-radius: 4px;
	font-family: HelveticaNeue-Bold;
	font-size: 11px;
	color: #262626;
	letter-spacing: 0.4px;
	padding: 5px 8px 6px 8px;
	margin-top: -60px;
	margin-left: 15px;
	visibility: hidden;
}
.floor{
	text-transform: uppercase;
	font-family: HelveticaNeue-Bold;
	font-size: 11px;
	color: #858E98;
	letter-spacing: 0.4px;
	display:block;
	height: 13px;
	position: absolute;
}
.title{
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #000000;
	line-height: 17px;
	display:block;
}
.capacity{
	font-family: HelveticaNeue;
	font-size: 13px;
	color: #000000;
	line-height: 17px;
	display:block;
}
.a_grey{
	color: #858E98;
}
.users{
	margin-top: 16px;
	font-family: Helvetica;
	font-size: 13px;
	color: #37003E;
	letter-spacing: 0;
	line-height: 17px;
	display:inline-block;
}
.avatar, .login{
	height: 17px;
	float: left;
	padding: 3px 0 4px 0;
}
.avatar{
	width: 24px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	border-radius: 100px;
	margin-right: 8px;
	text-indent:100%;
	overflow:hidden;
}
.login{
	margin-right: 0.3em;
}
.schedule-row__timeline{
	position: relative;
	background: #D5DFE9;
	min-width: 360px;
	margin-left: 181px;
	margin-top: -56px;
	top: -2px;
}
.schedule-row__timeline ul{
	height:58px;
}
.schedule-row__floor{
	background: transparent;
	padding: 16px 10px 8px 16px;
	height: 13px;
}
.schedule-scale{
	background: rgba(19,100,205,0.10);
	height: 100%;
	position: absolute;
	width: 1px;
	margin-left: 24.5px;
	margin-top: -11px;
	z-index: 1;
}
.schedule-scale-blue{
	background: #007DFF;
	margin-top: 0px;
}
.single-event{
	position: absolute;
	width: 0;
	left:0;
}
.single-event-empty{
	position: absolute;
	width: 0;
	left:0;
}
.single-event-empty a{
	display: block;
	background: #D5DFE9;
	font-size:22px;	
	padding: 32px 0 0 0;
	overflow: hidden;
	text-indent: 100%;
	text-decoration: none;
}
.single-event-empty a:hover{
	background: #005CFF;
}
.single-event-empty a:active{
	background: #005CFF;
}
.single-event-name{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	height: 58px;
	background: #FFFFFF;
}
.single-event-name:active{
	background: rgba(0,0,0,0.12);
}
.single-event-name:hover{	
	background: #98A9B9;
}
.footer-wrap{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 80px;
	width: 360px;
}
#footer{
	background: #FFFFFF;
	padding: 16px 0;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	letter-spacing: 0;
	text-align: right;
	z-index:32003;
	margin: 0 -8px;
}
.footer__link{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	background: #E9ECEF;
	color: #000000;
	border-radius: 4px;
	padding: 13px 24px;
	height: 18px;
	margin: 0 8px;
}
.blue{
	background: #007DFF;
}
.white{
	color: #FBF5F5;
}
#popup{
	pointer-events: none;
	visibility:hidden;
	position:absolute;
	width: 360px;
	text-align: center;
	z-index: 32003;
}
.triangle{    
	position:absolute;
	top:-16px;
	left:192px;
	border: 8px solid transparent; 
	border-bottom: 8px solid white; 
}
.tooltip{    
	pointer-events: all;
	text-align: left;
	background: #FFFFFF;
	box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
	border-radius: 8px;
	padding: 16px;
}
.event-title{
	font-family: HelveticaNeue-Bold;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
	line-height: 24px;
}
.event-description{
	font-family: HelveticaNeue;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0;
	line-height: 17px;
}
.button__editevent{
	float: right;
	overflow: hidden;
	text-indent: 100%;
	-webkit-background-size: contain;
	background: #cbccd0 url(assets/edit.svg) no-repeat 6px 6px;
	opacity: 0.43;
	border-radius: 100px;
	padding: 2px 0;
	width: 24px;	
	height: 20px;
}
.button__editevent:focus{
	background: #E9ECEF url(assets/edit.svg) no-repeat 6px 6px;
	opacity: 1;
}
.editor-container{
	width: 328px;
	margin: 16px;
}
.editor__header{
	font-family: HelveticaNeue-Bold;
	font-size: 20px;
	color: #000000;
	letter-spacing: 0;
	height: 24px;
	margin-top: 24px;
}
#calendar-wrapper {
	width: 360px;
	height: 380px;
	position: absolute;
	top: 105px;
	z-index: 32000;
	background: #FFFFFF;
	box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
	border-radius: 4px;
}
#calendar-wrapper-pan{
	font-family: HelveticaNeue;
	height: 348px;
	background: #E9ECEF;
	border-radius: 4px;
	margin: 16px;
}
.calendar {
	width: 100%;
	line-height: 1.7em;
	font-size: 24px;
	text-align: center;
}
.calendar thead tr:last-child {
	font-size: small;
	color: rgb(85, 85, 85);
}
.calendar thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
}
.calendar tbody:hover{
	cursor: pointer;
}
.calendar tbody td {
	color: rgb(44, 86, 122);
}
.calendar tbody td:nth-child(n+6), #calendar .holiday {
	color: rgb(231, 140, 92);
}
.calendar tbody td.today {
	background: rgb(220, 0, 0);
	color: #fff;
}
.form__title{
	display: block;
	width: 328px;
	margin-top: -3px;
}
.editor__form{
	font-size: 0;
}
.editor__form p{
	font-family: HelveticaNeue-Bold;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0;
	margin: 20px 0 4px 0;
	height: 16px;
}
.input__title{
	width: 304px;
	height: 17px;
	padding: 11px 10px 12px 10px;
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.input__title:focus{
	border: 2px solid #007DFF;
}
.form__date{
	display: block;
	width: 328px;
	margin-top: -3px;
	margin-bottom: 2px;
}
.input__date{
	width: 304px;
	height: 17px;
	padding: 11px 10px 12px 10px;
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.input__date:focus{
	border: 2px solid #007DFF;
}
.form__time{
	display:inline-block;	
	width: 153px;
}
.input__time{
	width: 129px;
	height: 17px;
	padding: 11px 10px 12px 10px;
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.input__time:focus{
	border: 2px solid #007DFF;
}
#input__clear{
	background-image: url(assets/close.svg);
	width: 11.9px;
	background-size: contain;
	height: 11.9px;
	position: absolute;
	top: 102.1px;
	left: 318px;
	opacity: 0.3;
}
#calendar_icon{	
	background: url(assets/calendar.svg);
	opacity: 0.3;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 182px;
	left: 318px;
	background-size: contain;
}
.form__users{
	display:block;
	width: 328px;
	margin-top: -3px;
}
input::-webkit-input-placeholder {color:#858E98;font-family: HelveticaNeue;font-size: 15px;letter-spacing: 0;}
input::-moz-placeholder          {color:#858E98;font-family: HelveticaNeue;font-size: 15px;letter-spacing: 0;}/* Firefox 19+ */
input:-moz-placeholder           {color:#858E98;font-family: HelveticaNeue;font-size: 15px;letter-spacing: 0;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#858E98;font-family: HelveticaNeue;font-size: 15px;letter-spacing: 0;}
.input__users{	
	width: 304px;
	height: 17px;
	padding: 11px 10px 12px 10px;
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.input__users:focus{
	border: 2px solid #007DFF;
}
.contact{
	display: block;
	text-decoration: none;
	height: 17px;
	padding: 10px 8px 11px 16px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.contact:hover{
	background: #F6F7F9;
	font-family: HelveticaNeue-Bold;
}
.avatar2{
	width: 32px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	border-radius: 100px;
	margin-right: 8px;
	text-indent: 100%;
	overflow: hidden;
	height: 17px;
	padding: 7px 0 8px 0;
	float: left;
	top: -7px;
	position: relative;
}
.homeFloor{
	color: #858E98;
}
.input__users:focus ~ .slimScrollDiv
{
	display: block;
}
#form__contacts{
	width:312px;
}
.slimScrollDiv{
	background: #FFFFFF;
	display: none;
	box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
	border-radius: 4px;
}
#list_users{
	margin-top: 10px;
	width: 328px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
	line-height: 17px;
}
.list_user{
	background: #E9ECEF;
	border-radius: 16px;
	height: 17px;
	padding: 7px 0 8px 0;
	margin-bottom: 8px;
}
.list_user .login2{
	float: left;
	margin-top: -1px;
}
.button__userdelete{
	float: right;
	overflow: hidden;
	text-indent: 100%;
	-webkit-background-size: contain;
	background: #E9ECEF url(assets/close.svg);
	margin: 3.9px 14px 0 0;
	width: 11.9px;
	height: 11.9px;
	background-size: contain;
	opacity: 0.3;
}
.form__rooms{
	width: 328px;
	margin-top: -3px;
	display: block;
	position: relative;
	font-family: HelveticaNeue-Bold;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
}
.form__rooms input{
	display: none;
}
.radio__rooms{
	width: 328px;
}
#button__uncheck{
	position: absolute;
	top: 33.5px;
	left: 302px;
	width: 11.9px;
	height: 11.9px;
}
.radio__rooms input[name="list"]:not(:checked) ~ #button__uncheck{
	background: transparent;
	color: transparent;
	z-index: 2;
}
.radio__rooms input[name="list"]:checked ~ #button__uncheck{
	background: url(assets/close.svg);
	background-size: contain;
}
.radio__rooms label{	
	background: #E9ECEF;
	border-radius: 4px;
	display: block;
	padding: 10px;
	height: 17px;
	margin-bottom:8px;
}
.radio__rooms input:checked + label{
	background: #007DFF;
	color: #fff;
}
#popup2{
	visibility: hidden;
	z-index: 32002;
	position:absolute;
	background: #FFFFFF;
	box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
	border-radius: 8px;
	top: 50%;
	width: 360px;
	height: 228px;
	font-family: HelveticaNeue-Bold;
	font-size: 20px;
	color: #000000;
	letter-spacing: 0;
	line-height: 24px;
}
.popup2__icon{
	background: url(assets/page-1-assets.png) no-repeat -116px -116px;
	background-size: 213px 184px;
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	margin-left: -20px;
	top:32px;
}
.popup2__icon2{
	background: url(assets/page-1-assets.png) no-repeat -50px -116px;
	background-size: 213px 184px;
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	margin-left: -20px;
	top:32px;
}
#popup2__message{
	display: block;
	text-align: center;
	top: 48px;
	position: relative;
	width: 320px;
	margin: 0 auto;
}
#mini_message{
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
	line-height: 17px;
}
.popup2__link{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	background: #E9ECEF;
	border-radius: 4px;
	padding: 13px 24px;
	height: 18px;
	margin: 0 5px;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #000000;
}
.popup2__wrapper{
	position:relative;
	margin: 0 auto;
	width: 235px;
	top: 72px;
}
.popup2__wrapper2{
	position:relative;
	margin: 0 auto;
	width: 117px;
	top: 73px;
}
#bg{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 32000;
	background: rgba(0,16,33,0.40);
}
.footer__removelink{	
	text-align: center;
	display: block;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	padding-top: 16px;
	text-decoration: none;
	color: #FF3333;
}
#footer__errormessage{	
	visibility:hidden;	
	position: fixed;
	opacity: 0.93;
	background: rgba(0,16,33,0.80);
	width: 328px;
	margin: 0 -16px;
	padding: 12px 16px 13px 16px;
	font-family: HelveticaNeue-Bold;
	font-size: 15px;
	color: #FFFFFF;
	bottom: 0;
}
	